<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_main">
<body>

  <div layout:fragment="content">
    <div class="row justify-content-center">
      <div class="card col-4">
        <div class="card-body">
          <h5 class="card-title">Login</h5>

          <p class="text-danger"
             th:if="${param.error}"
          >
            Invalid username or password
          </p>

          <form th:action="@{/login}" method="post">
            <div class="form-group">
              <label for="username" class="control-label">Email</label>
              <input type="email"
                     class="form-control"
                     id="username"
                     name="username"
                     autofocus
              >
            </div>

            <div class="form-group">
              <label for="password" class="control-label"></label>
              <input type="password"
                     class="form-control"
                     id="password"
                     name="password"
              >
            </div>

            <div class="form-group">
              <button class="btn btn-primary" type="submit">Register</button>
              <span>Doesn't have account? <a href="/" th:href="@{/register}">Register</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>