<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_main">
<body>

  <div layout:fragment="content">
    <div class="row justify-content-center">
      <div class="card col-4">
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>

          <p class="text-danger"
             th:if="${#fields.hasGlobalErrors()}"
             th:each="error: ${#fields.errors('global')}"
             th:text="${error}"
          ></p>

          <div th:if="${param.success}">
            <div class="alert alert-success">
              You've successfuly registered
            </div>
          </div>

          <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="form-group">
              <label for="username" class="form-label">Username</label>
              <input type="text"
                     class="form-control"
                     id="username"
                     name="username"
                     th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"
                     autofocus
              >

              <div class="invalid-feedback"
                   th:if="${#fields.hasErrors('username')}"
                   th:each="error: ${#fields.errors('username')}"
                   th:text="${error}"
              ></div>
            </div>

            <div class="form-group">
              <label for="email" class="form-label">Email</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     name="email"
                     th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
              >

              <div class="invalid-feedback"
                   th:if="${#fields.hasErrors('email')}"
                   th:each="error: ${#fields.errors('email')}"
                   th:text="${error}"
              ></div>
            </div>

            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     name="password"
                     th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
              >

              <div class="invalid-feedback"
                   th:if="${#fields.hasErrors('password')}"
                   th:each="error: ${#fields.errors('password')}"
                   th:text="${error}"
              ></div>
            </div>

            <div class="form-group">
              <label for="passwordConfirmation" class="form-label">Confirm password</label>
              <input type="password"
                     class="form-control"
                     id="passwordConfirmation"
                     name="passwordConfirmation"
                     th:classappend="${#fields.hasErrors('passwordConfirmation')} ? 'is-invalid' : ''"
              >

              <div class="invalid-feedback"
                   th:if="${#fields.hasErrors('passwordConfirmation')}"
                   th:each="error: ${#fields.errors('passwordConfirmation')}"
                   th:text="${error}"
              ></div>
            </div>

            <div class="form-group mt-3">
              <button class="btn btn-primary" type="submit">Register</button>
              <span>Already registered? <a href="/" th:href="@{/login}">login here</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>